[[language]]
name = "latex"
language-servers = [ { name = "texlab" } ]

[language-server.texlab]
command = "texlab"

[language-server.texlab.config.texlab.build]
onSave = true
forwardSearchAfter = true
executable = "latexmk"
pdfDirectory = "build"
# args = [
#   "-X",
#   "compile",
#   "%f",
#   "--synctex",
#   "--keep-logs",
#   "--keep-intermediates",
#   "--outdir=build",
#   "-Zshell-escape",
# ]
args = [
  "-pdf",
  "-interaction=nonstopmode",
   "-synctex=1",
   "-outdir=build",
   "%f"
]

[language-server.texlab.config.texlab.forwardSearch]
executable = "zathura"
args = [ "--synctex-forward", "%l:%c:%f", "%p" ]

[language-server.texlab.config.texlab.chktex]
onOpenAndSave = true
onEdit = true

[[language]]
name = "typst"

auto-format = true
formatter.command = "typstyle"
language-servers = [ { name = "tinymist" } ]

[language-server.tinymist]
command = "tinymist"

[language-server.tinymist.config]
# outputPath = "$root/build/document.pdf"
exportPdf = "onType"
formatterMode = "typstyle"
# preview.background.enabled = true
# preview.background.args = ["--data-plane-host=127.0.0.1:23635", "--invert-colors=never", "--open"]


[language-server.typescript-language-server.config]
plugins = [{  name = "@vue/typescript-plugin", location = "/usr/lib/node_modules/@vue/language-server", languages = ["vue"] }]
tsserver = { path = "/usr/bin/typescript-language-server" }

[language-server.vuels]
command = "vue-language-server"
args = ["--stdio"]

[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[[language]]
name = "vue"
auto-format = true
language-servers = ["typescript-language-server", "vuels"]
formatter = { command = 'prettier', args = ["--parser", "vue"] }


[[language]]
scope = "source.svx"
name = "svx"
injection-regex = "md|markdown"
file-types = ["svx"]
grammar = "markdown"
language-servers = [ "svelteserver"]
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "markdown"
language-servers = ["marksman", "markdown-oxide", "harper-ls"]
