[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = dedu.razvan.matei@gmail.com
	name = razv
[alias]
	adog = log --all --decorate --oneline --graph
[pull]
	rebase = false
