[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = razv
	email = dedu.razvan.matei@gmail.com
[cola]
	startupmode = folder
	theme = default
[gui]
	editor = /usr/bin/code
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	adog = log --all --decorate --oneline --graph
