$bg: #1e1e2e;
$bg-alt: #181825;
$fg: #cdd6f4;
$black: #45475a;
$lightblack: #7f849c;
$red: #f38ba8;
$blue: #89b4fa;
$cyan: #b4befe;
$magenta: #74c7ec;
$green: #a6e3a1;
$yellow: #f9e2af;
$archicon: #cba6f7;
